<div class="p-5 flex flex-col justify-between h-full">
  <form [formGroup]="lojaForm" class="mb-4">
    <div>
      <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input type="text" required
               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
               matInput formControlName="cnpj" [mask]="'00.000.000/0000-00'">
      </mat-form-field>
      <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input type="text" required
               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
               matInput formControlName="cnpj" [mask]="'00.000.000/0000-00'">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input type="text" required
               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
               matInput formControlName="cnpj" [mask]="'00.000.000/0000-00'">
      </mat-form-field>
      <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input type="text" required
               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
               matInput formControlName="cnpj" [mask]="'00.000.000/0000-00'">
      </mat-form-field>
    </div>
  </form>

  <button class="w-40 py-2 px-4 bg-indigo-600 text-white rounded-md shadow hover:bg-indigo-700" (click)="salvar()">
    Salvar
  </button>
</div>
