<div class="p-5 pr-10 w-auto">
  <h2 class="text-2xl font-bold mb-4">Lista de Lojas</h2>

  <div *ngIf="lojas.length > 0; else noLojas">
    <table class="w-full border-collapse">
      <thead>
      <tr class="bg-gray-200">
        <th class="py-2 px-4 border">Nome</th>
        <th class="py-2 px-4 border">CNPJ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let loja of lojas" class="hover:bg-gray-100 hover:cursor-pointer" (click)="selecionar(loja)">
        <td class="py-2 px-4 border">{{ loja.nomeLoja }}</td>
        <td class="py-2 px-4 border">{{ loja.cnpj }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noLojas>
    <p class="mt-4">Nenhuma loja disponível.</p>
  </ng-template>

  <button mat-raised-button color="primary" class="mt-4 bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded" mat-button (click)="fechar()">
    Fechar
  </button>
</div>
