<div class="p-5 pr-10 w-auto">
  <h2 class="text-2xl font-bold mb-4">Lista de Clientes</h2>

  <div *ngIf="clientes.length > 0; else noClientes">
    <table class="w-full border-collapse">
      <thead>
      <tr class="bg-gray-200">
        <th class="py-2 px-4 border">Nome</th>
        <th class="py-2 px-4 border">CPF</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes" class="hover:bg-gray-100 hover:cursor-pointer" (click)="selecionar(cliente)">
        <td class="py-2 px-4 border">{{ cliente.nome }}</td>
        <td class="py-2 px-4 border">{{ cliente.cpf }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noClientes>
    <p class="mt-4">Nenhuma loja disponível.</p>
  </ng-template>

  <button mat-raised-button color="primary" class="mt-4 bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded"
          mat-button (click)="fechar()">
    Fechar
  </button>
</div>
